<%= form_for(@execution) do |f| %>
  <% if @execution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@execution.errors.count, "error") %> prohibited this execution from being saved:</h2>

      <ul>
      <% @execution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :age %><br>
    <%= f.text_field :age, :id => "age_field" %>
  </div>
  <div class="field">
    <%= f.label :age_at_offense %><br>
    <%= f.text_field :age_at_offense, :id => "age_at_offense_field" %>
  </div>
  <div class="field">
    <%= f.label :age_when_received %><br>
    <%= f.text_field :age_when_received, :id => "age_when_received_field" %>
  </div>
  <div class="field">
    <%= f.label :codefendants %><br>
    <%= f.text_field :codefendants, :id => "codefendants_field" %>
  </div>
  <div class="field">
    <%= f.label :computed_age_at_offense %><br>
    <%= f.text_field :computed_age_at_offense, :id => "computed_age_at_offense_field" %>
  </div>
  <div class="field">
    <%= f.label :computed_age_executed %><br>
    <%= f.text_field :computed_age_executed, :id => "computed_age_executed_field" %>
  </div>
  <div class="field">
    <%= f.label :computed_age_recieved %><br>
    <%= f.text_field :computed_age_recieved, :id => "computed_age_recieved_field" %>
  </div>
  <div class="field">
    <%= f.label :computed_days_before_received_after_offense %><br>
    <%= f.text_field :computed_days_before_received_after_offense, :id => "computed_days_before_received_after_offense_field" %>
  </div>
  <div class="field">
    <%= f.label :computed_days_between_received_and_executed %><br>
    <%= f.text_field :computed_days_between_received_and_executed, :id => "computed_days_between_received_and_executed_field" %>
  </div>
  <div class="field">
    <%= f.label :county %><br>
    <%= f.text_field :county, :id => "county_field" %>
  </div>
  <div class="field">
    <%= f.label :date_executed %><br>
    <%= f.text_field :date_executed, :id => "date_executed_field" %>
  </div>
  <div class="field">
    <%= f.label :date_received %><br>
    <%= f.text_field :date_received, :id => "date_received_field" %>
  </div>
  <div class="field">
    <%= f.label :dob %><br>
    <%= f.text_field :dob, :id => "dob_field" %>
  </div>
  <div class="field">
    <%= f.label :edu_level %><br>
    <%= f.text_field :edu_level, :id => "edu_level_field" %>
  </div>
  <div class="field">
    <%= f.label :eyes %><br>
    <%= f.text_field :eyes, :id => "eyes_field" %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, :id => "first_name_field" %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender, :id => "gender_field" %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.text_field :height, :id => "height_field" %>
  </div>
  <div class="field">
    <%= f.label :info_sheet %><br>
    <%= f.text_field :info_sheet, :id => "info_sheet_field" %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, :id => "last_name_field" %>
  </div>
  <div class="field">
    <%= f.label :last_statement %><br>
    <%= f.text_field :last_statement, :id => "last_statement_field" %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number, :id => "number_field" %>
  </div>
  <div class="field">
    <%= f.label :offense_date %><br>
    <%= f.text_field :offense_date, :id => "offense_date_field" %>
  </div>
  <div class="field">
    <%= f.label :prior_occupation %><br>
    <%= f.text_field :prior_occupation, :id => "prior_occupation_field" %>
  </div>
  <div class="field">
    <%= f.label :prior_record %><br>
    <%= f.text_field :prior_record, :id => "prior_record_field" %>
  </div>
  <div class="field">
    <%= f.label :race %><br>
    <%= f.text_field :race, :id => "race_field" %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_field :summary, :id => "summary_field" %>
  </div>
  <div class="field">
    <%= f.label :tdcj %><br>
    <%= f.text_field :tdcj, :id => "tdcj_field" %>
  </div>
  <div class="field">
    <%= f.label :victim_info %><br>
    <%= f.text_field :victim_info, :id => "victim_info_field" %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight, :id => "weight_field" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
