<h1>Editing execution <%= @execution.id %></h1>

<% if @execution.info_sheet.include? "jpg" %>
<img src="<%= @execution.info_sheet %>" style="float:right;">
<% end %>

<%= render 'form' %>
<button id="do_the_math" class="btn btn-primary">Do The Math!</button>
<%= link_to 'Show', @execution %> |
<%= link_to 'Back', executions_path %>
