<p id="notice"><%= notice %></p>

<p>
  <strong>Age:</strong>
  <%= @execution.age %>
</p>

<p>
  <strong>Age at offense:</strong>
  <%= @execution.age_at_offense %>
</p>

<p>
  <strong>Age when received:</strong>
  <%= @execution.age_when_received %>
</p>

<p>
  <strong>Codefendants:</strong>
  <%= @execution.codefendants %>
</p>

<p>
  <strong>Computed age at offense:</strong>
  <%= @execution.computed_age_at_offense %>
</p>

<p>
  <strong>Computed age executed:</strong>
  <%= @execution.computed_age_executed %>
</p>

<p>
  <strong>Computed age recieved:</strong>
  <%= @execution.computed_age_recieved %>
</p>

<p>
  <strong>Computed days before received after offense:</strong>
  <%= @execution.computed_days_before_received_after_offense %>
</p>

<p>
  <strong>Computed days between received and executed:</strong>
  <%= @execution.computed_days_between_received_and_executed %>
</p>

<p>
  <strong>County:</strong>
  <%= @execution.county %>
</p>

<p>
  <strong>Date executed:</strong>
  <%= @execution.date_executed %>
</p>

<p>
  <strong>Date received:</strong>
  <%= @execution.date_received %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @execution.dob %>
</p>

<p>
  <strong>Edu level:</strong>
  <%= @execution.edu_level %>
</p>

<p>
  <strong>Eyes:</strong>
  <%= @execution.eyes %>
</p>

<p>
  <strong>First name:</strong>
  <%= @execution.first_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @execution.gender %>
</p>

<p>
  <strong>Height:</strong>
  <%= @execution.height %>
</p>

<p>
  <strong>Info sheet:</strong>
  <%= @execution.info_sheet %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @execution.last_name %>
</p>

<p>
  <strong>Last statement:</strong>
  <%= @execution.last_statement %>
</p>

<p>
  <strong>Number:</strong>
  <%= @execution.number %>
</p>

<p>
  <strong>Offense date:</strong>
  <%= @execution.offense_date %>
</p>

<p>
  <strong>Prior occupation:</strong>
  <%= @execution.prior_occupation %>
</p>

<p>
  <strong>Prior record:</strong>
  <%= @execution.prior_record %>
</p>

<p>
  <strong>Race:</strong>
  <%= @execution.race %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @execution.summary %>
</p>

<p>
  <strong>Tdcj:</strong>
  <%= @execution.tdcj %>
</p>

<p>
  <strong>Victim info:</strong>
  <%= @execution.victim_info %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @execution.weight %>
</p>

<%= link_to 'Edit', edit_execution_path(@execution) %> |
<%= link_to 'Back', executions_path %>
